@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

$bgc: #2B2730;
$special-bgc: #EDE4FF;
$font-color: #FFF4F4;

$normal-font: 'Poppins', sans-serif;
$special-font: 'Roboto Slab', serif;